{
  "importOrder": [
    ",^node:(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@?\\w",
    "^@inradius/(.*)$",
    "^[./]",
    "^[./].*\\.css$"
  ],
  "importOrderCaseInsensitive": true,
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["classProperties", "decorators-legacy", "jsx", "typescript"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5"
}
